@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Russo One', sans-serif;
    width: 100%;
}
.NavBar{
    background-color: teal;
    
}

.NavBar #menu li{
    position: relative;
    margin-right: 5%;
    transition: .5s ease-in-out;

}
.NavBar #menu li a{
    color: #fff;
    font-size: 32px;
}
.NavBar #menu li:hover{
    background-color: #fff;
    color: teal;
}
.NavBar #menu li a:hover{
    color: teal;
}
header{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    margin-bottom: 6%;   
}
.logo{
    font-family: 'Rock Salt', cursive;
    font-size: 2vw;
    font-weight: 800;   
}

.teal-color{
    position: relative;
    background-color: teal;
    margin-bottom: 4%;
}
.header-container{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

#ellipse {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40vh;
    width: 30%;
    background-color: #b3446c;
    border-top-left-radius: 100% 80%;    
}
#headright img{
    /* width: 120%; */
    z-index: 0;
    position: relative;
    left: 40%;
}
.header-container .h1{
    position: relative;
    top: 15%;
    font-size: 8vw;
    font-weight: 900;
    font-family:  'Russo One', sans-serif;;
}
.colorless{
    display: flex;
}
.experience{
    position: relative;
    top: 30px;
    text-align: center;
}
.experience h1 span{
    font-size: 8vw;
}
.experience h1 {
    color: teal;
    text-align: center;
}
.description{
    color: teal;
    
}
.description .row .col-3{
    /* background-color: thistle; */
    margin-right: 3%;
    padding: 2%;
    box-shadow: 13px 13px 15px #b3446c ;
    text-align: center;
    border-radius: 10px;
}
.description .row .col-3:hover{
    background-color: teal;
    color: #fff;
    transition: all 1.5s;
}
.more a{
    color: #b3446c;
    cursor: pointer;
}

#about{
    border-top: 8px solid teal;
}

.tag{
    height: 10vh;
    width: 20vw;
    background-color: #b3446c;
    text-align: center;
    border-bottom-left-radius: 50% 100% ;
    border-bottom-right-radius: 50% 100%;
    margin: auto;
    padding: 2.5%;
    color: #fff;
    font-size: 1.7em;
}
#about > p{
    color: teal;
    width: 65%;
    margin: auto;
    font-size: 24px;
    text-align: center;
    padding: 5% 1% 2%;
}

.head-leads{
    color: #b3446c;
    border: 3px solid teal;
    border-radius: 15px 0 15px 0;
    text-align: center;
    width: 30%;
    margin: auto;
}
.abt-cont1 .d-flex {
    margin: auto;
    margin:4% 0;
}
.lead-text{
    background-color: teal;
    color: #fff;
    text-align: center;
    
}
.lead-text h3{
    position: relative;
    top: 40%;
    bottom: 20%;
}

.backgrnd-cols{
    border-right: 3px solid teal;
    margin-right: 2%;
    color: #b3446c;
    font-size: 24px;
}
.prog-languages .d-flex .p-columns{
    box-shadow: 5px 5px 10px #b3446c ;
    border-radius: 5px;
    margin:10px ;
    padding:2%;
    position: relative;
    word-wrap: break-word;
    
} 
.abt-cont2 h2{
    color: teal;
    text-align: center;
}
.prog-languages .d-flex .p-columns:hover{
    cursor: pointer;
    transition: 1s all;
    background-color: teal;
}

.img-description{
    text-align: center;
    visibility: hidden;
    color:#fff;
    position: absolute;
    top: 20%; 
    left: -1px;  
    font-size: 1.8em;
}
.prog-languages .d-flex .p-columns:hover .img-description{
    visibility: visible;
    opacity: 1;
}
.p-learning .p-learn-cols img{
    transition: transform 0.4s ease;
    opacity: .5;
    box-shadow: 10px 10px 12px #b3446c;
    border-radius: 5px;
}
.p-learning .p-learn-cols img:hover{
    transform: scale(1.5);
    opacity: 1;
}
.others img{
    transition: transform 0.4s ease;
    opacity: 1;
    box-shadow: 10px 10px 12px #b3446c;
    border-radius: 5px;
}
.others img:hover{
    transform: scale(1.2);
    opacity: .5;
}
.other-skills, .p-learning, .hobbies >h2{
    text-align: center;
    color: teal;
}
.other-skills, .p-learning, .hobbies{
    margin-bottom: 4%;
}
.underline{
   text-decoration: 8px underline #b3446c;
}

.card-img-overlay:hover{
    background: rgba(0, 128, 128, .4)  ;
    transition: 0.3s;
}

.card:hover .card-img{
    transform: scale(1.07);
    transition: .6s;

}
/* Projects Section styling */
#projects, #contact-me {
    border-top: 8px solid teal;
    /* margin-bottom: 5%; */
    margin: auto;
}
#projects{
    margin-bottom: 4%;
}
#projects .view a{
    text-decoration: none;
    color: #fff;
}
#projects .proj-cols {
    word-wrap: break-word;
}
#projects .projs .proj-cols{
    word-wrap: break-word;
    border-left: 30px  solid #b3446c;
    border-top: 3px  solid #b3446c;
    border-right: 30px  solid #b3446c;
    border-bottom: 3px  solid #b3446c;
    border-radius: 20px 20px;
    margin: 3px 13px 3px 0;
    padding: 2px;
    color: teal;
}
.proj-cols button{
    width: 50%;
    display:inline-block;
    margin: auto;
    background-color: teal;
    color: #fff;
    position: relative;
    left: 18%;
}
/*  Contact me section */
#contact-me{
    margin-bottom: 4%;
}
#contact-me h2{
    text-align: center;
    color: teal;
}
#contact-me form{
    width: 60%;
    margin: auto;
    display: block;
}
#contact-me form input,#contact-me form textarea{
    border-left: 5px solid teal;
    border-bottom: 5px solid teal;
    border-right: 5px solid teal;
    outline: none;
    margin-bottom: 2%;
    padding: 2%;
    color: #b3446c;
}
#contact-me form textarea:focus, #contact-me form input:focus{
    box-shadow:8px 8px 8px #b3446c;
}
#contact-me form button{
    width: 40%;
    color:teal;
    position: relative;
    left: 25%;
    border: none;
    padding: 3%;
    margin: auto;
    cursor: pointer;
    outline: teal solid 3px;
    transition: .6s ease-in-out;
}
#contact-me form button:hover{
    background-color: teal;
    color: #fff;
}

/*  footer section */
footer{
    width: 100%;
    height: 20vh;
    position: relative;
}
.waves{
    /* width: 50%; */
    background: teal;
    height: 100%;
}
.wave1{
    width: 50%;
    border-top-right-radius:50% 100% ;
    border-top-left-radius: 50% 35%;
    position: absolute;
}
.wave-mid{
    position: absolute;
    left: 35%;
    height: 100%;
    width: 30%;
    margin: auto;
    border-top-right-radius:50% 100% ;
    border-top-left-radius: 50% 60%;
    /* border-top-left-radius:50% 100% ; */
    border-top-right-radius: 50% 60%



}
.wave2{
    width: 50%;
    border-top-left-radius:50% 100% ;
    border-top-right-radius: 50% 60%;
    float: right;
    position: absolute;
    right: 0;
}

@media (max-width:520px){
    .logo{
        font-size: 5vw;          
    }
    #ellipse {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 70%;
        background-color: #b3446c;
        border-top-left-radius: 100% 100%;    
    }
    header{
        margin-bottom: 10%;
    }
    header .colorless{
        display: flex;
        flex-direction: column;
    }
    header .experience, header .col-4 {
        width: 100%;
        text-align: center;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 10%;
    }
    header .description h2{
        font-size: 24px;
        text-align: center;
    }
    header .row{
        display: flex;
        flex-direction: column;
    }
    header .row .col-3{
        margin: auto;
        max-width: 95%;
        margin-bottom: 8%;
    }
    #about {
        margin-bottom: 10%;
    }
    #about .tag, #projects .tag, #contact-me .tag{
        width: 30vw;
        padding: 2%;
        font-size: 1.5em
    }
    #about >p{
        width: 98%;
        font-size: 20px;
    }
    .head-leads{
        width: 50%;
        font-size: 2em;
     }
    #about .abt-cont1 .d-flex{
        display: flex;
        flex-direction: column;
    }
    #about .backgrnd-cols{
        margin-right: auto;
        border-left: 3px solid teal;
        border-bottom: 3px solid teal;
    }
    .abt-cont2 h2{
        font-size: 25px;
    }
    .prog-languages .d-flex .p-columns{
        width: 100%;
        justify-content: none;
        
    }
    
    .prog-languages {
        margin-bottom: 8%;
    }
    .p-learn-cols{
        width: 98%;
        display: flex;
        flex-direction: column;
    }
    .p-learning .p-learn-cols img:hover{
        transform: scale(1.05);
    }
    .p-learning{
        margin-bottom: 10%;
    }
    .others img:hover{
        transform: scale(1.03);
    }
    .other-skills{
        margin-bottom: 10%;
    }
    .hobbies .others img{
        width: 100%;
        align-items: center;
        margin-bottom: 5%; 
    }
    #projects .projs{
        flex-direction: column;
    }
}
@media  (min-width:521px) and  (max-width: 768px) {
    


    #about .head-leads{
        width: 50%;
    }
    #about .tag, #projects .tag, #contact-me .tag{
        width: 30vw;
        padding: 2%;
        font-size: 1.5em
    }
    #about .abt-cont1 .d-flex{
        display: flex;
        flex-direction: column;
    }
    #about .backgrnd-cols{
        margin-right: auto;
        border-left: 3px solid teal;
        border-bottom: 3px solid teal;
    }
    #projects .projs{
        flex-direction: column;
    }

}
@media (min-width:769px) {
    #ellipse{
        width: 50%;
        height: 70vh;
    }
}