@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Russo One', sans-serif;
    width: 100%;
}

header{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    margin-bottom: 6%;   
}
.logo{
    font-family: 'Rock Salt', cursive;
    font-size: 2vw;
    font-weight: 800;   
}

.teal-color{
    position: relative;
    background-color: teal;
    margin-bottom: 4%;
}
.header-container{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

#ellipse {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40vh;
    width: 30%;
    background-color: #b3446c;
    border-top-left-radius: 100% 80%;    
}
#headright img{
    /* width: 120%; */
    z-index: 0;
    position: relative;
    left: 40%;
}
.header-container .h1{
    position: relative;
    top: 15%;
    font-size: 8vw;
    font-weight: 900;
    font-family:  'Russo One', sans-serif;;
}
.colorless{
    display: flex;
}
.experience{
    position: relative;
    top: 30px;
    text-align: center;
}
.experience h1 span{
    font-size: 8vw;
}
.experience h1 {
    color: teal;
    text-align: center;
}
.description{
    color: teal;
    
}
.description .row .col-3{
    /* background-color: thistle; */
    margin-right: 3%;
    padding: 2%;
    box-shadow: 13px 13px 15px #b3446c ;
    text-align: center;
    border-radius: 10px;
}
.description .row .col-3:hover{
    background-color: teal;
    color: #fff;
    transition: all 1.5s;
}
.more{
    color: #b3446c;
}

#about{
    border-top: 8px solid teal;
}

.tag{
    height: 10vh;
    width: 20vw;
    background-color: #b3446c;
    text-align: center;
    border-bottom-left-radius: 50% 100% ;
    border-bottom-right-radius: 50% 100%;
    margin: auto;
    padding: 2.5%;
    color: #fff;
    font-size: 1.7em;
}
#about > p{
    color: teal;
    width: 65%;
    margin: auto;
    font-size: 24px;
    text-align: center;
    padding: 5% 1% 2%;
}

.head-leads{
    color: #b3446c;
    border: 3px solid teal;
    border-radius: 15px 0 15px 0;
    text-align: center;
    width: 30%;
    margin: auto;
}
.abt-cont1 .d-flex {
    margin: auto;
    margin:4% 0;
}
.lead-text{
    background-color: teal;
    color: #fff;
    text-align: center;
    
}
.lead-text h3{
    position: relative;
    top: 40%;
    bottom: 20%;
}

.backgrnd-cols{
    border-right: 3px solid teal;
    margin-right: 2%;
    color: #b3446c;
    font-size: 24px;
}
.prog-languages .d-flex .p-columns{
    box-shadow: 5px 5px 10px #b3446c ;
    border-radius: 5px;
    margin:10px ;
    padding:2%;
    position: relative;
    word-wrap: break-word;
    
} 
.prog-languages .d-flex .p-columns:hover{
    cursor: pointer;
    transition: 1s all;
    background-color: teal;
}

.img-description{
    text-align: center;
    visibility: hidden;
    color:#fff;
    position: absolute;
    top: 20%; 
    left: -1px;  
    font-size: 1.8em;
}
.prog-languages .d-flex .p-columns:hover .img-description{
    visibility: visible;
    opacity: 1;
}
.p-learning .p-learn-cols img{
    transition: transform 0.4s ease;
    opacity: .5;
    box-shadow: 10px 10px 12px #b3446c;
    border-radius: 5px;
}
.p-learning .p-learn-cols img:hover{
    transform: scale(1.5);
    opacity: 1;
}
.others img{
    transition: transform 0.4s ease;
    opacity: 1;
    box-shadow: 10px 10px 12px #b3446c;
    border-radius: 5px;
}
.others img:hover{
    transform: scale(1.2);
    opacity: .5;
}
.other-skills, .p-learning, .hobbies >h2{
    text-align: center;
    color: teal;
}
.other-skills, .p-learning, .hobbies{
    margin-bottom: 4%;
}
.underline{
   text-decoration: 8px underline #b3446c;
}
/* Projects Section styling */
#projects, #contact-me {
    border-top: 8px solid teal;
    /* margin-bottom: 5%; */
    margin: auto;
}
#projects{
    margin-bottom: 4%;
}
#projects .proj-cols {
    word-wrap: break-word;
}
#projects .projs .proj-cols{
    word-wrap: break-word;
    border-left: 30px  solid #b3446c;
    border-top: 3px  solid #b3446c;
    border-right: 3px  solid #b3446c;
    border-bottom: 3px  solid #b3446c;
    border-radius: 20px 0 0 20px;
    margin: 3px 13px 3px 0;
    padding: 2px;

}
.proj-cols button{
    width: 50%;
    margin: auto;
    background-color: teal;
    color: #fff;
    position: relative;
    left: 18%;

}
/*  footer section */
footer{
    width: 100%;
    height: 20vh;
    position: relative;
}
.waves{
    /* width: 50%; */
    background: teal;
    height: 100%;
}
.wave1{
    width: 50%;
    border-top-right-radius:50% 100% ;
    border-top-left-radius: 50% 35%;
    position: absolute;
}
.wave-mid{
    position: absolute;
    left: 35%;
    height: 90%;
    width: 30%;
    margin: auto;
    border-top-right-radius:50% 100% ;
    border-top-left-radius: 50% 60%;
    /* border-top-left-radius:50% 100% ; */
    border-top-right-radius: 50% 60%



}
.wave2{
    width: 50%;
    border-top-left-radius:50% 100% ;
    border-top-right-radius: 50% 60%;
    float: right;
    position: absolute;
    right: 0;
}

@media (max-width:480px){
    .logo{
        font-size: 5vw;          
    }
    #ellipse {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 70%;
        background-color: #b3446c;
        border-top-left-radius: 100% 100%;    
    }

}